1 VERSIONINFO
FILEVERSION     1,0,0,0
PRODUCTVERSION  1,0,0,0
FILEFLAGSMASK   0X3FL
FILEFLAGS       0L
FILEOS          0X40004L
FILETYPE        0X1
FILESUBTYPE     0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904B0"
        BEGIN
            VALUE "CompanyName",        "IvanK Production\0"
            VALUE "FileDescription",    "ivankprod.ru server exe\0"
            VALUE "FileVersion",        "1.0.0.0\0"
            VALUE "LegalCopyright",     "© 2021 IvanK Production. All Rights Reserved\0"
            VALUE "OriginalFilename",   "server.exe\0"
            VALUE "ProductName",        "ivankprod.ru server exe\0"
            VALUE "ProductVersion",     "1.0.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END

1 ICON    "favicon.ico"
1 24      "server.exe.manifest"