{{> 'partials/header' noindex=true }}
	</header>
<section id="content-holder" class="container">
	<div id="content" class="content animate-fadein-css">
		{{#if data.user}}
			{{> 'partials/components/auth_user_cabinet' user=data.user }}
		{{else}}
			<a href="{{data.links.vk}}">Войти с помощью ВКонтакте</a>
			<a href="{{data.links.gl}}">Войти с помощью Google</a>
		{{/if}}
	</div>
</section>
{{> 'partials/footer' }}