/* 
	MAIN STYLE: controls and forms

	Author : IvanK Production
*/

button {
	-webkit-appearance: none;
	   -moz-appearance: none;
	        appearance: none;
	outline:            none;

	display: block;

	padding: 13px 14px 12px 14px;
	margin:  0;

	border: 0;

	font: inherit;
	color: #fff;
	cursor: pointer !important;

	background-color: var(--color-theme-green);

	box-shadow: 0 3px 10px #d8d8d8;

	transition: opacity 0.1s;
}

button.small {
	padding: 11px 12px 10px 12px;

	font-size: 0.9rem;
}

button:hover {
	opacity: 0.8;
}

button:active {
	opacity: 0.6;
}

button[disabled] {
	color: #c5c5c5;

	background: #f9f9f9;

	pointer-events: none;
}

button img.btn-icon-loader {
	display: none;
	float:   left;

	width:  20px;
	height: 20px;

	margin-right: 6px;
}

button.btn-auth {
	display: flex;
	align-items: center;

	position: relative;

	padding: 8px;

	color: #000;
	text-align: left;

	background-color: #fff;

	border: 1px solid #d8d8d8;

	box-shadow: 0 3px 0px #d8d8d8;

	overflow: hidden;
}

button.btn-auth img {
	height: 24px;
	width:  24px;

	cursor: pointer !important;
}

button.btn-auth span { display: inline-block; margin: 2px 6px 0 4px; }

button span { cursor: pointer !important; }

.auth-form {
	display: flex;
	flex-direction: row;
	align-items: flex-start;
	justify-content: space-around;

	height: 300px;

	margin: 16px 0;

	box-shadow: 0 3px 10px #d8d8d8;

	overflow: hidden;
}

.auth-form-image {
	display: flex;
	align-items: center;
	justify-content: center;

	width:  200px;
	height: 100%;

	background-color: #f7f7f7;

	border-right: 2px solid #bed6a0;
}

.auth-form-buttons {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-evenly;

	height: 100%;

	margin: 0 32px;
}

.auth-form-caption {
	color:      var(--color-theme-green);
	font-size:  1.2rem;
	text-align: center;
}
