*.exe
*.dll
*.so
*.dylib

*.test
*.tmp

*.out

.vscode
.DS_Store
.idea

*.fiber.gz
*.fasthttp.gz
*.pprof
*.workspace

/vendor/
vendor/
vendor
/Godeps/

.env

*.log
*.pem
*.symlink

.cache
.eslintcache

/tarantool/data
/tarantool/data/*

/tmp

/build_dev/server*
/build_prod/server*

/build_dev/certs/ivankprod.ru
/build_dev/certs/ivankprod.ru/*
/build_prod/certs/ivankprod.ru
/build_prod/certs/ivankprod.ru/*
