*.exe
*.dll
*.so
*.dylib

*.test
*.tmp

*.out

.vscode
.DS_Store
.idea

*.fiber.gz
*.fasthttp.gz
*.pprof
*.workspace

/vendor/
vendor/
vendor
/Godeps/

.env
*.env

*.log
*.pem
*.symlink

.cache
.eslintcache

/tarantool/data
/tarantool/data/*

/data

/build_*
