/*
	HOMEPAGE STYLE

	Author     : IvanK Production
*/

.swiper-section { align-self: center; padding: 32px; }
.swiper-slide   { padding: 16px !important; background: #fff; }
.swiper-pagination { position: relative !important; }
.swiper-pagination-bullet { margin: 0 4px !important; outline: none !important; }
.swiper-pagination-bullet-active { background: var(--color-theme-green) !important; }
.swiper-container .slide-block-desc { margin: 8px 0 22px 0; font-size: 1.2rem; }

@media (min-width: 768px)  {
	.swiper-container .slide-block-desc { text-align: justify; }
}
@media (min-width: 992px)  {
	.swiper-container .slide-block-desc { text-align: left; }
}
@media (min-width: 1200px) {
	.swiper-container .slide-block-desc { text-align: left; }
}