/*
	SITEMAP PAGE STYLE

	Author : IvanK Production
*/

.content-links         { font-size: 1.2rem; }
.content-links a       { display: block; margin: 8px 0; }
.content-links li > ul { margin-left: 24px; }