<footer>
	<div class="footer-back"></div>
	<div class="container">
		<div class="footer-block first">
			<div class="footer-block-title">ИНФО</div>
			© 2008-2021 IvanK Production. Все права защищены.<br>
			Копирование материлов сайта без указания источника запрещено!<br><br>
			<a class="spa" href="/legal/user-agreement/">Пользовательское соглашение</a><br>
			<a class="spa" href="/legal/privacy-policy/">Политика конфиденциальности</a>
		</div>
		<div class="footer-block second">
			<div class="footer-block-title">БЫСТРЫЕ ССЫЛКИ</div>
			<ul>
				<li><a class="spa" href="/projects/">ПРОЕКТЫ</a></li>
				<li><a class="spa" href="/services/">УСЛУГИ</a></li>
				<li><a class="spa" href="/blog/">БЛОГ</a></li>
				<li><a class="spa" href="/about/">О НАС</a></li>
				<li><a class="spa" href="/contacts/">КОНТАКТЫ</a></li>
				<li><a class="spa" href="/join/">ЗАПОЛНИТЬ БРИФ</a></li>
				<li><a class="spa" href="/sitemap/">КАРТА САЙТА</a></li>
			</ul>
		</div>
		<div class="footer-block third">
			<div class="footer-block-title">СОЦИАЛЬНЫЕ СЕТИ</div>
			<ul class="social">
				<li><a class="vk" href="https://vk.com/ivankprod" title="Группа во ВКонтакте" target='blank'></a></li>
				<li><a class="fb" href="https://facebook.com/ivankprod" title="Группа в Facebook" target='blank'></a></li>
				<li><a class="tw" href="https://twitter.com/ivankprod" title="Профиль в Twitter" target='blank'></a></li>
				<li><a class="ig" href="https://instagram.com/ivankprod" title="Профиль в Instagram" target='blank'></a></li>
				<li><a class="sc" href="https://soundcloud.com/ivankprod" title="Страница на SoundCloud" target='blank'></a></li>
				<li><a class="yt" href="https://youtube.com/c/IvanKProduction" title="Официальный YouTube-канал" target='blank'></a></li>
			</ul>
		</div>
	</div>
</footer>
</div>

<script type="text/javascript" src="/static/js/app.9ff8dcaf5d23afa5acd3.js" integrity="sha256-CkgYUhLF8gaegGioFYQK3Vrhs8fpYzalKjGE8+fZw3c=" crossorigin="anonymous" defer="true"></script>

</body>
</html>
