{{> 'partials/header' error=true noindex=true }}
	</header>
<section id="content-holder" class="container">
	<div id="content" class="content animate-fadein-css">
		<div class="error-box">
			<div class="error-title">{{error.code}}</div>
			<div class="error-message">{{error.msg}}</div>
			<hr>
			<button class="small rounded-all spa" data-href="/">На главную</button>
		</div>
	</div>
</section>
{{> 'partials/footer' }}