{{> 'partials/header' }}
	</header>
<section id="content-holder" class="container">
	<div id="content" class="content animate-fadein-css">
		<div class="container swiper-section">
			<div class="swiper-container">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<div class="slide-block">
							<div class="slide-block-title animate-slidein-fadein-css"><h1>ДОБРО ПОЖАЛОВАТЬ!</h1></div>
							<div class="slide-block-desc">Мы – продакшн-студия топ-класса. Работаем с 2008-го года во многих сферах медиа-производства: аудио/видео-продакшн, дизайн и полиграфия, разработка информационных систем и веб-решений.</div>
							<button class="rounded-all spa" data-href="/about/">Узнать подробнее</button>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="slide-block">
							<div class="slide-block-title animate-slidein-fadein-css"><h1>ПОЧЕМУ МЫ?</h1></div>
							<div class="slide-block-desc">
								+ Консультирование, помощь в подготовке проектов<br>
								+ Своевременное оказание услуг с использованием новейших технологий<br>
								+ Поддержка и ведение проектов в будущем
							</div>
							<button class="rounded-all" data-href="/join/">Заполнить бриф</button>
						</div>
					</div>
					<div class="swiper-slide">
						<div class="slide-block">
							<div class="slide-block-title animate-slidein-fadein-css"><h1>НУЖНА ПОМОЩЬ?</h1></div>
							<div class="slide-block-desc">
								+ Расскажем как реализовать проект наиболее выгодно<br>
								+ Подберем для Вас оптимальный вариант сотрудничества<br>
								+ И просто поднимем Вам настроение ;)
							</div>
							<button class="rounded-all spa" data-href="/contacts/">Связаться с нами</button>
						</div>
					</div>
				</div>
			</div>
			<div class="swiper-pagination"></div>
			{{!-- <div class="swiper-button-prev swiper-button-common"></div>
			<div class="swiper-button-next swiper-button-common"></div> --}}
		</div>
	</div>
</section>
{{> 'partials/footer' }}