{{> 'partials/header' }}
	</header>
<section id="content-holder" class="container">
	<div id="breadcrumbs" class="breadcrumbs rounded-bottom">
		<div><ul itemscope itemtype="http://schema.org/BreadcrumbList">
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<a itemscope itemtype="http://schema.org/WebPage" itemprop="item" id="{{urlBase}}" class="spa" href="/">
					<span itemprop="name">Главная</span>
				</a>
				<meta itemprop="position" content="1">
			</li>
			<li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
				<span itemscope itemtype="http://schema.org/WebPage" itemprop="item" class="breadcrumbs-last">
					<span itemprop="name">Сервисы</span>
				</span>
				<meta itemprop="position" content="2">
			</li>
		</ul></div>
	</div>
	<div id="content" class="content animate-fadein-css">
		Services index
	</div>
</section>
{{> 'partials/footer' }}