/* 
	Fonts CSS stylesheet

	Author : IvanK Production
*/

@font-face {
	font-family: 'Open Sans';
	src: url('/static/fonts/opensans/OpenSans-Regular-webfont.eot');
	src: local('Open Sans Regular'), local('Open Sans'),
		url('/static/fonts/opensans/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/opensans/OpenSans-Regular-webfont.woff') format('woff'),
		url('/static/fonts/opensans/OpenSans-Regular-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/static/fonts/opensans/OpenSans-Italic-webfont.eot');
	src: local('Open Sans Italic'), local('Open Sans'),
		url('/static/fonts/opensans/OpenSans-Italic-webfont.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/opensans/OpenSans-Italic-webfont.woff') format('woff'),
		url('/static/fonts/opensans/OpenSans-Italic-webfont.ttf') format('truetype');
	font-weight: normal;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Open Sans';
	src: url('/static/fonts/opensans/OpenSans-Semibold-webfont.eot');
	src: local('Open Sans Semibold'), local('Open Sans'),
		url('/static/fonts/opensans/OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
		url('/static/fonts/opensans/OpenSans-Semibold-webfont.woff') format('woff'),
		url('/static/fonts/opensans/OpenSans-Semibold-webfont.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}
